body {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}
.contenedor {
  max-width: 80%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}

.cabecera {
  background-color: rgb(54, 201, 250);
  color: white;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2),
    /* Sombra gris oscura */ -3px -3px 5px rgba(255, 255, 255, 0.5); /* Resplandor blanco */
  h1 {
    font-size: 40px;
    font-weight: 700;
    padding: 10px 5px;
    span {
      font-size: 30px;
    }
  }
}
.footer{
  background-color: rgb(54, 201, 250);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2),
    /* Sombra gris oscura */ -3px -3px 5px rgba(255, 255, 255, 0.5); /* Resplandor blanco */
    font-size: 40px;
    p{
      padding: 10px 5px;
      color: tomato;
      font-weight: 700;
    }
}

